* {
    padding: 0;
    margin: 0;
}

h2 {
    color: rgb(236, 230, 230);
    font-weight: bold;
    background-color: #333333;
    border-color: #333333;
    border-radius: 25px;
    text-align: center;
    padding: 30px 120px 30px 120px;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    text-transform: uppercase; 
}

body {
    background: rgb(12,29,30);
    background: linear-gradient(90deg, rgba(12,29,30,1) 12%, rgba(7,40,53,1) 100%);
    font-family: inter; 
    overflow-x: hidden;
    color: #ffffff;
}

header {
    width: 100%;
    height: 92px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 140px;
    padding-right: 80px;

}

.logo {
    position: absolute;
    top: 1.5px;
    left: 3.25%;
    padding: 10px;
}

.headbutton {
    display: flex;
    justify-content: center;
}

.homebutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;

}

.musicbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tourbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.merchbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.album-item {
    background-color: #333;
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.album-item img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.album-title {
    font-size: 1.5em;
    margin-bottom: 5px;
}
.album-release {
    color: #bbb;
}
ol {
    list-style-type: decimal;
    padding-left: 20px;
}

footer {
    height: 70px;
    background: black;
    margin-top: 80px;
}

.footertext {
    font-family: inter;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.hits {
    padding: 8rem;
    gap: 12px;
}
.text{
    text-align: center;
    column-count: 2;
}
