* {
    padding: 0;
    margin: 0;
}

h2 {
    color: rgb(236, 230, 230);
    font-weight: bold;
    background-color: #333333;
    border-color: #333333;
    border-radius: 25px;
    text-align: center;
    padding: 30px 120px 30px 120px;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    text-transform: uppercase; 
}

body {
    background: rgb(12,29,30);
    background: linear-gradient(90deg, rgba(12,29,30,1) 12%, rgba(7,40,53,1) 100%);
    font-family: inter; 
    overflow-x: hidden;
    color: #ffffff;
}

header {
    width: 100%;
    height: 92px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    position: absolute;
    top: 1.5px;
    left: 3.25%;
    padding: 10px;
}

.headbutton {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 140px;
    padding-right: 80px;
    display: flex;
    justify-content: center;
}

.homebutton {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 140px;
    padding-right: 80px;
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.musicbutton {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 140px;
    padding-right: 80px;
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tourbutton {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 140px;
    padding-right: 80px;
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.merchbutton {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 140px;
    padding-right: 80px;    
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: none;

}


#menu-toggle {
    display: none;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.album-item {
    background-color: #333;
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.album-item img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.album-title {
    font-size: 1.5em;
    margin-bottom: 5px;
}
.album-release {
    color: #bbb;
}
ol {
    list-style-type: decimal;
    padding-left: 20px;
}

footer {
    width: 100%;
    height: 100%;
    background: black;
    margin-top: 80px;
    border-top: 1px solid rgb(86, 86, 86);
}

.footertext {
    font-family: inter;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    padding-top: 40px;
}

a {
    font-family: inter;
    font-weight: 400;
    color: rgb(173, 173, 173);
    text-decoration: none;
}

a:hover {
    font-weight: 900;
    color: rgb(1, 165, 194);
}

.copyright {
    padding-right: 50px;
}

.contact {
    padding-right: 40px;
    padding-left: 15px;
}

.terms {
    padding-right: 35px;
    padding-left: 15px;
}

.privacy {
    padding-left: 15px;
    padding-right: 15px;
}

.disc {
    padding-right: 30px;
    padding-left: 30px;
}

.yout {
    padding-right: 30px;
    padding-left: 5px;
}

.spot {
    padding-left: 15px;
}

.homebutton:hover {
    font-weight: 800;
    color: rgb(1, 165, 194);
}

.musicbutton:hover {
    font-weight: 800;
    color: rgb(1, 165, 194);
}

.tourbutton:hover {
    font-weight: 800;
    color: rgb(1, 165, 194);
}

.merchbutton:hover {
    font-weight: 800;
    color: rgb(1, 165, 194);
}

.hits {
    padding: 8rem;
    gap: 12px;
}
.songlist{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.text{
    text-align: center;
    float: left;
  
}
.text2{
text-align: center;
}

@media (max-width: 768px) {
    h2 {
        padding: 20px 60px;
        width: 70%;
    }

    a {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }

    header {
        flex-direction: column;
        height: auto;
    }

    .songlist{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        font-size: 10px;
        width: max-content;
        align-items: center;
    }

}

@media (max-width: 480px) {
    h2 {
        padding: 10px 30px;
        width: 70%;
    }

    a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }

    header {
        flex-direction: column;
        height: auto;
    }

    .songlist{
        display: flex;
        flex-direction:row;
        font-size: 10px;
        width: max-content;
    }
    
}


@media (max-width: 768px) {
    #menu-toggle {
        display: none;
    }
    
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
        margin: 20px;
    }
    
    .burger span {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        transition: 0.3s;
    }
    
   
    .menu {
        display: none;
        background-color: #0c1d1e;
        position: absolute;
        top: 60px;
        width: 100%;
        text-align: center;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu ul li {
        padding: 10px;
    }
    
    .menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-family: inter;
    }
    
    #menu-toggle:checked + .burger + .menu {
        display: block;
    }
    
    
    #menu-toggle:checked + .burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    #menu-toggle:checked + .burger span:nth-child(2) {
        opacity: 0;
    }
    
    #menu-toggle:checked + .burger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    header {
        display: none;
    }

    a {
        padding: 0px;
    }
}

a:hover {
    font-weight: 500;
}