body {
    font-family: 'Inter', sans-serif;
    background: rgb(12, 29, 30);
    background: radial-gradient(circle, rgba(12, 29, 30, 1) 31%, rgba(7, 40, 53, 1) 100%);
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}


.image-blurry-border {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 25px 15px rgba(62, 150, 205, 0.337); 
    border-radius: 10px; 
}


.text-section {
    margin-bottom: 30px;
    text-align: left;
}

h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.quote {
    font-size: 1.1em;
    font-style: italic;
    color: #ccc;
    margin-top: 20px;
}


@media (max-width: 768px) {
    h3 {
        font-size: 1.6em;
    }

    p {
        font-size: 1em;
    }

    .quote {
        font-size: 1em;
    }
}

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 92px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 140px;
    padding-right: 80px;

}

body {
    background: rgb(12,29,30);
    background: linear-gradient(90deg, rgba(12,29,30,1) 12%, rgba(7,40,53,1) 100%);
    font-family: inter;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 1.5px;
    left: 3.25%;
    padding: 10px;
}

.headbutton {
    display: flex;
    justify-content: center;
}

.homebutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;

}

.musicbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tourbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.merchbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: none;

}


#menu-toggle {
    display: none;

}

footer {
    height: 70px;
    background: black;
    margin-top: 80px;
}

.footertext {
    font-family: inter;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}


@media (max-width: 768px) {
    #menu-toggle {
        display: none;
    }
    
    
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
        margin: 20px;
    }
    
    .burger span {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        transition: 0.3s;
    }
    
   
    .menu {
        display: none;
        background-color: #0c1d1e;
        position: absolute;
        top: 60px;
        width: 100%;
        text-align: center;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu ul li {
        padding: 10px;
    }
    
    .menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-family: inter;
    }
    
    
    #menu-toggle:checked + .burger + .menu {
        display: block;
    }
    
    
    #menu-toggle:checked + .burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    #menu-toggle:checked + .burger span:nth-child(2) {
        opacity: 0;
    }
    
    #menu-toggle:checked + .burger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    header {
        display: none;
    }

    a {
        padding: 0px;
    }
}

a:hover {
    font-weight: 500;
}