* {
  padding: 0;
  margin: 0;

}
header {
  width: 100%;
  height: 92px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-size: 20px;
  padding-left: 140px;
  padding-right: 80px;

}
.logo {
  padding: 10px;
}

.homebutton {
  border-left: 2px rgb(99, 99, 99) solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.musicbutton {
  border-left: 2px rgb(99, 99, 99) solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tourbutton {
  border-left: 2px rgb(99, 99, 99) solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.merchbutton {
  border-left: 2px rgb(99, 99, 99) solid;
  padding-top: 10px;
  padding-bottom: 10px;
}
body {
    background: rgb(138,120,120);
    background: radial-gradient(circle, rgba(138,120,120,1) 14%, rgba(17,17,17,1) 100%);
    font-family: 'Inter';
}
.all{
    column-count: 2;
}
.vertical {
    margin-left: 300px;
    border-left: 2px solid #7777;
    height: 80px;
}

.buybutton{
display: flex;
justify-content: center;

}

button{
    background-color:#515151 ;
    border: 1;
    border-color: white;
    color: white ;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}

.flex-container {
    display: flex;
    background-color: #333333;
    color: white;
    margin: 10px;
    width: 600px;
    border-radius: 12px
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px 10px 20px 10px;
    font-size: 15px;
  }
  .number{
    color: #FF0000
  }
  .fire{
    color: orange
  }
  .dollar{
    color: lightgreen
  }
  .usa{
  border-radius: 4px;
  padding: 5px;
  width: 15px;
  }
  .mark{
    border-radius: 0px;
  padding: 0px;
  width: 20px;
  }
  .park{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  h1{
    color:white;
  }
  .second{
    direction: column;
    background-color: #333333;
    color: white;
    margin: 10px;
    padding: 15px;
    width: 600px;
    border-radius: 12px;
    float: right;
    display: flex;  
  flex-wrap: wrap;
  }
  .thrid{
    background-color: #C182B8;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 600px;
    border-radius: 12px
  }
  .zero{
    display: block;
    margin-right: auto;
    width: 50%;
   border-radius: 15px;
   padding-top: 10px;
   padding-left: 10px;
  }
  .playbutton{
  padding: 5px;
  width: 25px;
  margin-left: auto;
  display: block;
  }
  .head{
    font-size: 20px;
    font-weight: bold;
   
  }

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 92px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 120px;
}

body {
    background: rgb(12,29,30);
    background: linear-gradient(90deg, rgba(12,29,30,1) 12%, rgba(7,40,53,1) 100%);
    font-family: inter;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 1.5px;
    left: 3.25%;
    padding: 10px;
}

.headbutton {
    display: flex;
    justify-content: center;
}

.homebutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;

}

.musicbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tourbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.merchbutton {
    border-left: 2px rgb(99, 99, 99) solid;
    padding-top: 10px;
    padding-bottom: 10px;
}